body
{
	font-family: arial, lucida, helvetica, sans-serif;
	background-color: #000000;
	color: #ffffff;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
}

img
{
	border-style: none;
	max-width: 100%;
	width: auto;
	height: auto;
}

button
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #222222;
	border-right-color: #222222;
	background-color: #3355ff;
	color: #ffffff;
}

button:hover
{
	background-color: #3344ee;
}

#header
{
	background-color: #999999;
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #222222;
	border-right-color: #222222;
}

#menu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;

	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #3355ff;
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #555555;
	border-right-color: #555555;
	text-align: center;
}

#menu a
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #555555;
	border-right-color: #555555;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	background-color: #2233bb;
	color: #ffffff;
}

#menu a:hover
{
	background-color: #3344ee;
}

#menu a.active
{
	border-top-color: #555555;
	border-left-color: #555555;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}

#container
{
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 5px;
}

#submenu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;

	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #ff3311;
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #555555;
	border-right-color: #555555;
}

div#submenu:empty
{
	display: none;
}

#submenu a
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #555555;
	border-right-color: #555555;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	background-color: #bb3322;
	color: #ffffff;
}

#submenu a:hover
{
	background-color: #ee4433;
}

#submenu a.active
{
	border-top-color: #555555;
	border-left-color: #555555;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}

#submenu a.alternative_link
{
	background-color: #00dd11;
}

#submenu a.alternative_link:hover
{
	background-color: #11ff33;
}

#contents
{
	flex: 1;
}

#footer
{
	background-color: #11ff33;
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	border-bottom-color: #222222;
	border-right-color: #222222;
}

@media (min-width: 1024px)
{
	#container
	{
		flex-direction: row;
	}

	#submenu
	{
		text-align: left;
		flex-direction: column;
		justify-content: left;

		min-width: 130px;
	}

	div#submenu:empty
	{
		display: flex;
	}

	#submenu a
	{
		margin-left: 5px;
		margin-right: 5px;
	}
}
